<h2>Boluwatife Adeyemi</h2>
<ul role="list">
  <li>
    <a href="#" class="nav-link"><span>email</span></a>
  </li>
  <li>
    <a href="#" class="nav-link"><span>github</span></a>
  </li>
  <li>
    <a href="#" class="nav-link"><span>portfolio</span></a>
  </li>
  <li>
    <a href="#" class="nav-link"><span>twitter</span></a>
  </li>
  <li>
    <a href="#" class="nav-link"><span>codewars</span></a>
  </li>
</ul>
